@mixin shadow {
    box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -webkit-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -moz-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    border-color: transparent !important;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@mixin tran($time) {
    transition: $time all;
    -webkit-transition: $time all;
    -moz-transition: $time all;
    -o-transition: $time all;
    -ms-transition: $time all;
}

@mixin clear_fix() {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

@mixin tran_slow_03 {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@mixin tran_slow_05 {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

@keyframes zoom {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes zoom {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes faceOut_Text {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}


@keyframes faceOut_Text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes faceOutInt {
    0% {
        opacity: 0;
        bottom: -50px;
        position: relative;
    }

    100% {
        opacity: 1;
        bottom: 0;
        position: relative;
    }
}


@keyframes faceOutInt {
    0% {
        opacity: 0;
        bottom: -50px;
        position: relative;
    }

    100% {
        opacity: 1;
        bottom: 0;
        position: relative;
    }
}

/* @include transition(all,2s,ease-out); */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition: $what $time $how;
    -ms-transition: $what $time $how;
    -o-transition: $what $time $how;
    transition: $what $time $how;
}

[data-an="fade-up"] {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
}

[data-fade="in"] [data-an="fade-up"] {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

[data-an-order="1"] {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

[data-an-order="2"] {

    -webkit-transition-delay: .55s;
    -o-transition-delay: .55s;
    transition-delay: .55s;
}

[data-an-order="3"] {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}

[data-an-order="4"] {
    -webkit-transition-delay: .85s;
    -o-transition-delay: .85s;
    transition-delay: .85s;
}

[data-an-order="5"] {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.posi_center {
    text-align: center
}